* {
    box-sizing: border-box;
    padding: 80px;
    margin: 10px;
    color: rgb(70, 128, 222);
    display: flexbox;
    border-style: dashed;
    background-color: rgb(231, 248, 253);
}

body{
display:inline-block;
font-style: italic;
font-size: 50px;
}
h1{
    display:flex;
    box-sizing:border-box;
    background-color: aqua;
    padding: 5px;
    margin: 2px;
}
h3{
    color: rgb(249, 254, 254);
    background-color: rgba(17, 159, 181, 0.788);
    font-weight: 200;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    color: black;
}