* {
  /* background-color: rgb(237, 247, 248); */
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 20px;
  background-color: rgb(183, 234, 253);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(33, 32, 32);
  background-color: rgb(35, 122, 180);
  padding-inline: 3%;
}

.Header2 {
  display: inline-block;
  align-content: flex-end;
  color: rgb(13, 13, 14);
  background-color: rgb(35, 122, 180);
}

.li {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.nav-btn {
  text-decoration: none;
  color: black;
  padding: 10px;
  border: rgb(250, 250, 251) 1px solid;
  border-radius: 10%;
}

.nav-btn:hover {
  background-color: rgb(164, 208, 252);
}

.about-me-section {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* background-color: rgb(104, 177, 249); */
}

.about-me--text {
  color: black;
  width: 45%;
  height: 60%;
  text-align: center;
  font-size: 30px;
}

.my-work {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  font-size: 30px;
}

.my-work {
  width: 100%;
  /* height: 3px; */
  text-align: center;
  font-size: 40px;
  background-color: rgb(35, 122, 180);
}

.contact-me {
  /* display: inline-block; */
  /* justify-content: center; */
  text-align: center;
  font-size: 25px;
}

.font {
  font-style: italic;
  color: black;
  display: flex;
  font-size: 30px;
  padding: 14px;
  margin: 3px;
}

.img {
  display: inline-table;
  direction: ltr;
  width: 40px;
  height: 40px;
}
h3 {
  display: inline-block;
  /* color: rgb(249, 254, 254); */
  /* background-color: rgba(17, 159, 181, 0.788); */
  font-weight: 200;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  color: black;
}

.footer {
  color: black;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
}
